* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 900px;
    max-width:100%;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    color: #fff;
}

.nav-home{
    background-color: #340f7d;
    width: 100%;
    height: 19%;
    display: flex;
    align-items: center
}

.nav-home h1{
    width: auto;
    position: relative;
    left: 10%;
    font-size: 38px;
    font-weight: 600;
    font-style: italic;
}

.menu{
    list-style: none;
    width: 30%;
    position: relative;
    left: 50%;
}

.container ul{
    display: flex;
}

.menu li{
    margin-left: 3%;
    
}

.menu li a{
    color:#fff; 
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 15px;
}

.menu li a:hover{
    color: #89dcb0
}

.title {
    height: 15%;
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: 5%;
}

#titulo {
    color: #fff;
    font-size: 43px;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;  
}

.conversion {
    width: 24.5%;
    height: 800px;
    background: rgb(0, 0, 0);
    border: 2px solid #3113a0;
    border-radius: 5px;
    position: relative;
    top: 13%;
    left: 11%;
}

.subtitle > h2{
    font-size: 38px;
    font-weight: 600;
    margin-top: 7%;
    position: relative;
    left: 23%;
}

.campo label {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding: 13px 13px 13px 0;
    margin-left: 25px;
    margin-top: 3%;
    display: inline-block;
}

.campo input[type="text"]{
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    padding: 11px;
    border: 1px solid #3113a0;
    resize: vertical;
    display: inline-block;
    margin-top: 5px;
    margin-left: 25px;
}

#resultado {
    cursor: not-allowed;
}

#binario-input:focus {
    border: 3px solid #59429d;
    background: #E0E0F8;
}

input, button {
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
    outline: none;

}

.botao {
    font-size: 1.6em;
    font-weight: 500;
    background: #3113a0;
    margin-left: 26%;
    margin-top: 10%;
    color: #ffffff;
    transition: all linear 1s;
    padding: 0.3em 0.8em;
    border: none;
}


.botao:hover {
    background: rgba(49, 19, 160, 0.5);
    text-shadow: none;
}


.botao{
    cursor: pointer;
}

.frase-center{
    width: 37%;
    height: 10%;
    position: relative;
    left: 47%;
    bottom: 27%
}


.frase-center > h1{
    font-size: 36px;
    font-weight: 600;
}

.frase-center > p {
    font-size: 18px;
    margin-top: 23px;
    margin-left: 8px;
}

.tabela {
    position: relative;
    bottom: 17%;
    left: 46%;
    width: 42%;
    height: 30%
}

#table-equiv {
    border-collapse: collapse;
    width: 100%;
  }
  
#table-equiv td, #table-equiv th {
    border: 1px solid #3113a0;
    padding: 8px;
}

#table-equiv tr:hover {
    background-color: rgba(192,192,192,0.4)
}


#table-equiv th {
    padding-top: 19px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.footer{
    height: 100px;
    background-color: #3113a0;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
