* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

.container{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    display: flex;
    flex-direction: column;
    background: #298989 
}

.nav-home{
    background-color: #0B3C5D;
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center
}

.nav-home h1{
    width: auto;
    position: relative;
    left: 10%;
    font-size: 38px;
}

.menu{
    list-style: none;
    width: 30%;
    position: relative;
    left: 50%;
}

.menu li{
    float: left;
    margin-left: 3%;
    
}

.menu li a{
    color:#fff; 
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover{
    color: #89dcb0
}

.nav-home::after{
    clear: both;
}

.title {
    height: 25%;
    width: 40%;
    position: relative;
    top: 10%;
    left: 28%
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;  
}

.conversion {
    width: 30%;
    height: 30%;
    border-radius: 7px;
    position: relative;
    top: 11%;
    left: 6%;
}

.campo label {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    padding: 12px 12px 12px 0;
    display: inline-block;

}

.campo input[type="text"]{
    padding: 11px;
    border: 1px solid #59429d;
    resize: vertical;
    display: inline-block;
}

#binario-input{
    width: 75%;
    
}

#resultado {
    cursor: not-allowed;
    width: 75%;

}

#binario-input:focus {
    border: 2px solid #59429d;
}


.campo input:focus{
    background: #E0E0F8;
}

input, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
    outline: none;

}

.botao {
    font-size: 1.6em;
    background: #3d2d6c;
    margin-left: 19%;
    margin-top: 10%;
    color: #ffffff;
    transition: all linear 1s;
    padding: 0.3em 0.8em;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}


.botao:hover {
    background: rgba(177, 153, 247, 0.7);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}


.botao{
    cursor: pointer;
}


.tabela {
    position: relative;
    bottom: 11%;
    left: 50%;
    width: 40%;
    height: 30%
}

#table-equiv {
    border-collapse: collapse;
    width: 100%;
  }
  
#table-equiv td, #table-equiv th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-equiv tr:hover {
    background-color: rgba(192,192,192,0.4)
}


#table-equiv th {
    padding-top: 19px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 15px;
}
